<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Style Wiz - Headings</title>

    <link rel="stylesheet" type="text/css" href="common/normalize.css">
    <link rel="stylesheet" type="text/css" href="common/main.css">
</head>
<body>

  <div>
    <h1>Headings</h1>
    <ul>
      <li><a href="/">Back</a></li>
    </ul>
  </div>

  <div>
    <h1>Heading H1</h1>
    <h1 class="alt-heading">Heading H1 Alternate</h1>
    <hr>

    <h2 >Heading H2</h2>
    <h2 class="alt-heading">Heading H2 Alternate</h2>
    <hr>

    <h3>Heading H3</h3>
    <h3 class="alt-heading">Heading H3 Alternate</h3>
    <hr>

    <h4>Heading H4</h4>
    <h5>Heading H5</h5>
    <h6>Heading H6</h6>
  </div>

</body>
</html>
